body {
background:#0A0E29 url("RS.jpg") bottom center no-repeat;background-size:cover;height:610px;padding-top:40px;position:relative;}
    background-color: #62442D;
min-width: 300px;
}
.logo
{
width:300px;
position: relative;top:20px;

}
.login{

position: relative;
top:50px; left:-0px;
font-family:arial;padding:50px 0 0 0}.login 

display:block;border-radius: 0px;margin:0 auto 0px
}
.login a,.login a:visited{text-decoration:underline;color:inherit}ul.notice{margin:30px auto;width:300px;text-align:center;list-style-position:inside;font-size:15px;padding:20px 30px;border-radius:3px}ul.notice.errors{background-color:#fff4f4;border:1px solid #262624;color:#f50909}ul.notice.success{background-color:#d7eacd;border:1px solid #6fae4f;color:#6fae4f}ul.notice li{padding:5px 0}.vertical-form{margin:0 auto}.vertical-form legend{width:100%;font-size:24px;font-weight:500;text-align:center;margin:0 0 0px 0}
.text
{border-top-left-radius:20px;border-top-right-radius:20px;
}
.password
{border-top-left-radius:0px;border-top-right-radius:0px;
}
.vertical-form input[type='text'],.vertical-form input[type='password'],.vertical-form input[type='number']{border:0px #656565 solid;color:#151515;background:#ffffff;opacity: 0.7;
    filter: alpha(opacity=95);
height:50px;font-size:18px}.vertical-form input[type='text'],.vertical-form input[type='password'],.vertical-form input[type='submit'],.vertical-form input[type='number']{display:block;margin:0 auto 0px auto;width:300px;text-align:center;color:#444444;outline:none;font-family:inherit}.vertical-form input[type='submit']{-webkit-appearance:none;position: relative;
top:-0px; left:0px;color:#fff;background:-webkit-linear-gradient(#972B21,#6D1415, #3C110F);opacity: 1;
    filter: alpha(opacity=0.4);border:0px #656565 solid;border-bottom-left-radius:20px;border-bottom-right-radius:20px;
 height:60px;width:300px;font-size:16px;color:#fff;font-weight:400;outline:0;letter-spacing:1.5px;cursor:pointer}.vertical-form input:hover[type='submit']{background-color:#FCA420;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease}.vertical-form .footer{text-align:center;color:#666;position: relative;
top:0px; left:0px;}.vertical-form .footer p:first-child{color:#ccc}.vertical-form .footer a:first-child{color:#00A9E0}.vertical-form .footer p:nth-child(2) a{border-bottom:solid 1px #000} @media (max-width:0px){.login{padding:10px 0 0 0}}

